<!doctype html>

<html>
  <head>
    <title>Soupe.io</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/assets/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>

  <body>

    <nav>
      <ul>
        <li>Home</li>
        <li>Login</li>
        <li>Register</li>
      </ul>
    </nav>
    {{template "content" .}}
  </body>
</html>
