{{define "content"}}
<div id="wrapper">
  <div class="row">
    <div class="col-md-12">
      <div class=".container">
        {{.email}} ::: {{.username}} ::: {{.password}}
      </div>
    </div>
  </div>
</div>
{{end}}
